* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #333;
  font-weight: normal;
}
ul {
  list-style-type: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
hr {
  border-top: 1px solid #eee;
}
section {
  padding-bottom: 100px;
}
hr {
  border-top: 1px solid #eee;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
a {
  text-decoration: none;
  color: inherit;
}
.is-dark {
  color: #333;
}
.is-light {
  color: #ccc;
}
.is-gray {
  color: #777;
}
.is-white {
  color: #fff;
}
.is-branding-color {
  color: #d6b161;
}
.is-center {
  text-align: center;
}
.l-fl {
  float: left;
}
.l-fr {
  float: right;
}
.l-fx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.mb20 {
  margin-bottom: 20px;
}
.img-init {
  display: inline-block;
  width: initial;
}
.container {
  display: block;
  margin: 0 auto;
  max-width: 1170px;
}
.container.full-width {
  width: 100%;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8 {
  float: left;
  padding: 0 30px;
}
.col-12.closer,
.col-2.closer,
.col-3.closer,
.col-4.closer,
.col-5.closer,
.col-6.closer,
.col-7.closer,
.col-8.closer {
  padding: 0 10px;
}
.col-12.bordered,
.col-2.bordered,
.col-3.bordered,
.col-4.bordered,
.col-5.bordered,
.col-6.bordered,
.col-7.bordered,
.col-8.bordered {
  margin-left: -1px;
  margin-bottom: -1px;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
}
.col-2 {
  width: 16.666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333%;
}
.col-5 {
  width: 41.666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333%;
}
.col-8 {
  width: 66.666%;
}
.col-12 {
  width: 100%;
}
.full-padding {
  padding-top: 100px;
}
.bg-img {
  padding: 150px 0;
  background-size: cover;
  background-position: 50% 50%;
}
.bg-img.fixed {
  background-attachment: fixed;
}
.bg-gray {
  background-color: #777;
}
.bg-light {
  background-color: #f5f5f5;
}
.banner {
  padding: 200px 0;
}
.intro {
  margin-bottom: 100px;
  text-align: center;
}
.intro .desc {
  color: #777;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.intro.p0-30 {
  padding: 30px;
}
.intro.p0-30 .intro-title {
  font-size: 18px;
}
.intro.p0-30 .intro-hr {
  background-color: #333;
}
.intro.p0-30 .desc {
  color: #777;
  font-size: 13px;
  line-height: 2;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.intro-title {
  font-size: 30px;
  margin-bottom: 12px;
  color: #333;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.intro-title.mb0 {
  margin-bottom: 0;
}
.intro-hr {
  background-color: #d6b161;
  border: 0;
  height: 2px;
  margin: 0 auto 16px;
  width: 60px;
}
.post-name,
.post-title,
.post-title2 {
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}
.post-title {
  margin-bottom: 2em;
}
.post-title2 {
  margin-bottom: 1em;
}
.desc,
.desc2,
.price {
  color: #777;
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;
}
.desc2 {
  font-size: 12px;
  line-height: 1.5em;
  padding-bottom: 0;
}
.price {
  padding-bottom: 0;
}
.price.specil {
  color: #d6b161;
  font-size: 2.5em;
}
.button,
.button-white,
.button-black {
  display: inline-block;
  margin-top: 15px;
  padding: 15px 20px;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.button.round,
.button-white.round,
.button-black.round {
  border-radius: 0.3em;
}
.button.noborder,
.button-white.noborder,
.button-black.noborder {
  border: none;
}
.button-white {
  color: #333;
  border-color: #000;
  background-color: #fff;
}
.button-white:hover {
  color: #fff;
  border-color: #000;
  background-color: #333;
}
.button-black {
  color: #fff;
  border-color: #fff;
  background-color: #333;
}
.button-black:hover {
  color: #fff;
  border-color: #fff;
  background-color: #d6b161;
}
.thumbnail {
  position: relative;
}
.thumbnail-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 20px solid rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.thumbnail-cover:hover {
  opacity: 1;
}
.thumbnail-cover:hover .thumbnail-desc {
  top: 50px;
}
.thumbnail-desc {
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
  position: relative;
  top: -30px;
  padding: 0 15px;
}
.thumbnail-desc > h4 {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 30px;
}
.thumbnail-desc > p {
  font-size: 13px;
  line-height: 2;
  text-transform: capitalize;
  color: #777;
}
.thumbnail-link {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 30px;
  color: #333;
}
.thumbnail-info {
  padding: 15px 0;
  text-align: center;
}
.thumbnail-info.left {
  text-align: left;
}
.thumbnail-info > h4 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  color: #333;
  line-height: 2;
}
.thumbnail-info > span {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
}
.social-media > li {
  display: inline-block;
}
.social-media.inbox {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.social-media-icon {
  display: inline-block;
  margin: 0 12px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 20px;
  color: #333;
  border: 1px solid #333;
  text-align: center;
  text-decoration: none;
}
.social-media-icon.no-border {
  border: none;
}
.social-media-icon:hover {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #ccc;
  border-color: #333;
  background-color: #333;
}
.social-media-icon.light {
  color: #777;
  border-color: #777;
  background-color: transparent;
}
.social-media-icon.light:hover {
  color: #999;
  border-color: #999;
  background-color: #222;
}
.social-media-icon.white {
  color: #fff;
  border-color: #fff;
  background-color: transparent;
}
.social-media-icon.white:hover {
  color: #222;
  border-color: #fff;
  background-color: #fff;
}
.social-media-icon.small {
  margin: 0;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: none;
}
.social-media-icon.small:hover {
  color: #d6b161;
  border-color: none;
  background-color: transparent;
}
.feature-item {
  text-align: center;
}
.feature-item.normal .feature-item-icon,
.feature-item.dark .feature-item-icon {
  color: #333;
}
.feature-item.normal .feature-item-title,
.feature-item.dark .feature-item-title {
  color: #333;
}
.feature-item.dark {
  padding: 50px;
}
.feature-item.dark:hover {
  background-color: #333;
  -webkit-transition: all 0.2S;
  -o-transition: all 0.2S;
  transition: all 0.2S;
}
.feature-item.dark:hover .feature-item-icon {
  color: #d6b161;
}
.feature-item.dark:hover .feature-item-title {
  color: #fff;
}
.feature-item.icon-left {
  position: relative;
  padding-left: 80px;
  margin-bottom: 80px;
  text-align: left;
}
.feature-item.icon-left .feature-item-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
}
.feature-item.icon-left .feature-item-title {
  color: #333;
}
.feature-item.career {
  margin-bottom: 50px;
  padding: 50px;
  border: 1px solid #eee;
}
.feature-item.career .feature-item-icon {
  color: #333;
}
.feature-item.career .feature-item-title {
  color: #333;
}
.feature-item-icon {
  padding-bottom: 30px;
  font-size: 40px;
  color: #d6b161;
}
.feature-item-title {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}
.feature-item-desc {
  font-size: 15px;
  line-height: 1.4;
  color: #777;
}
#logo {
  float: left;
}
nav {
  float: right;
  text-transform: uppercase;
}
nav li {
  float: left;
  line-height: 100px;
}
nav a {
  color: #333;
  padding: 42px 12px;
  text-decoration: none;
}
nav a:hover {
  background-color: #d6b161;
}
.boundary:after {
  content: "|";
  padding: 0 12px;
}
.category {
  margin-bottom: 20px;
  position: relative;
}
.category-title {
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  right: 10%;
  text-align: right;
  top: 35%;
}
.product {
  padding: 15px;
}
#event {
  background-image: url("https://dummyimage.com/1920x1080/111/333");
}
#event .button:hover,
#event .button-white:hover,
#event .button-black:hover {
  background-color: #d6b161;
}
.event-title {
  color: #fff;
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
}
.event-subtitle {
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
}
.featured-info {
  padding-top: 40px;
  text-align: center;
}
.outlet-info {
  padding: 15px 30px;
}
.outlet-info > .post-name {
  margin-bottom: 25px;
}
.info {
  color: #777;
  text-decoration: none;
  line-height: 2rem;
  text-transform: capitalize;
}
.m30-0 {
  margin: 30px 0;
}
.map {
  color: #d6b161;
  text-transform: uppercase;
}
.footer-light {
  padding-top: 100px;
  position: relative;
  background: #eee;
}
.footer-dark {
  padding-top: 80px;
  background: #222;
}
.footer-bottom {
  background: #171717;
  padding: 35px;
  color: #777;
}
.footer-logo {
  padding: 20px;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fff;
  border: 5px solid #eee;
}
.copyright-dark {
  color: #333;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
}
.copyright-light {
  color: #555;
  line-height: 30px;
  text-transform: capitalize;
}
.copyright-light a {
  color: #ccc;
}
.comment-list > li {
  border-bottom: 1px solid #333;
}
.comment-list-link {
  display: block;
  line-height: 3rem;
  color: #999;
  text-transform: capitalize;
  text-decoration: none;
}
.comment-list-link:before {
  content: ">";
  margin-right: 10px;
}
.pic-list > li {
  float: left;
}
.pic-list-link {
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}
#go-top {
  background: rgba(0, 0, 0, 0.6);
  bottom: 35px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
#about-banner {
  background-image: url("https://dummyimage.com/1920x1080/333/444");
}
#service-banner {
  background-image: url("https://dummyimage.com/1920x1080/eee/ddd");
}
#client-banner {
  background-image: url("https://dummyimage.com/1920x1080/777/555");
}
#feature {
  background-image: url("https://dummyimage.com/1920x1080/333/444");
  padding: 100px 0;
}
.banner-title,
.banner-title-dark {
  float: left;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 43px;
}
.banner-title-dark {
  color: #333;
}
.breadcrumbs {
  float: right;
  padding: 15px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.breadcrumbs li {
  float: left;
  text-transform: uppercase;
  color: #fff;
}
.breadcrumbs li:after {
  content: "/";
  margin: 0 5px;
}
.breadcrumbs li:last-child:after {
  content: "";
  margin: 0;
}
.breadcrumbs .link {
  color: #777;
  text-decoration: none;
}
.breadcrumbs.bread-dark {
  background: transparent;
}
.breadcrumbs.bread-dark li {
  color: #333;
}
.post .desc {
  line-height: 2;
}
.progress {
  width: 100%;
  background: #eee;
  margin-bottom: 50px;
}
.progress > div {
  display: inline-block;
}
.progress-bar {
  padding-left: 12px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2;
}
.progress-bar.no-1 {
  width: 80%;
}
.progress-pin {
  position: relative;
  -webkit-transform: translate(-50%, -120%);
  -ms-transform: translate(-50%, -120%);
  transform: translate(-50%, -120%);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 3px 8px;
  border-radius: 15px;
}
.progress-pin:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: rgba(0, 0, 0, 0.6);
  border-width: 2px;
  margin-left: -2px;
}
.count {
  font-size: 36px;
}
.count > div {
  margin-top: 20px;
  margin-bottom: -10px;
}
.count > span {
  font-size: 15px;
  text-transform: uppercase;
}
.clients {
  padding: 100px 0;
}
header {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
header.top {
  position: absolute;
  background: transparent;
  width: 100%;
}
header.fixed {
  z-index: 10000;
  position: fixed;
  width: 100%;
  background: #fff;
  height: 100px;
}
.special-service .button-black {
  line-height: 15px;
}
.icon-list {
  margin: 20px 0;
}
.icon-list > li {
  float: left;
  padding: 0;
  font-size: 15px;
  line-height: 2;
}
.icon-list > li:before {
  font-family: "fontello";
  content: '\f10c';
  margin-right: 0.5rem;
}
.pricing-table,
.recommaned {
  padding: 50px;
  border: 1px solid #e7e7e7;
  text-align: center;
  color: #333;
}
.pricing-table .button,
.pricing-table .button-white,
.pricing-table .button-black {
  width: 100%;
  border-color: #e7e7e7;
}
.pricing-title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pricing-price {
  padding: 40px;
  margin-bottom: 30px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.value {
  margin-bottom: 10px;
  font-size: 40px;
}
.decimal {
  margin-left: -3px;
  font-size: 10px;
}
.duration {
  font-size: 12px;
  text-transform: uppercase;
}
.pricing-desc {
  margin-bottom: 20px;
}
.recommaned {
  color: #777;
  background-color: #222;
}
.recommaned .pricing-title {
  color: #d6b161;
}
.recommaned .pricing-price {
  color: #fff;
  border-color: #555;
}
.recommaned .button,
.recommaned .button-white,
.recommaned .button-black {
  border: none;
}
.recommaned .button:hover,
.recommaned .button-white:hover,
.recommaned .button-black:hover {
  color: #fff;
  background-color: #d6b161;
}
.promo-box {
  padding: 60px 0;
}
.promo-info {
  float: left;
}
.promo-title {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.promo-title > em {
  font-style: normal;
  color: #d6b161;
}
.promo-button {
  float: right;
  margin: 0;
  padding: 15px 30px;
}
/*------------------------------------------
contact page
-------------------------------------------*/
.contact-form,
.career-form {
  display: inline-block;
  margin-top: 50px;
}
.contact-form label,
.career-form label {
  display: inline-block;
  margin-bottom: 5px;
  color: #777;
  text-transform: uppercase;
}
.contact-form input,
.contact-form textarea,
.career-form input,
.career-form textarea {
  padding: 6px 12px;
  width: 100%;
  border: 1px solid #ddd;
}
.contact-form textarea,
.career-form textarea {
  height: 95px;
}
.contact-form .col-12,
.contact-form .col-6,
.career-form .col-12,
.career-form .col-6 {
  padding-left: 0;
  padding-right: 15px;
  margin-bottom: 15px;
}
.footer-contact {
  padding: 40px;
  background-color: #222;
  text-align: center;
}
.footer-contact .social-media {
  display: inline-block;
  margin: 50px 0;
}
.footer-contact .copyright-light {
  padding-top: 40px;
  border-top: 1px dashed #555;
  color: #777;
  text-transform: uppercase;
}
/*------------------------------------------
career page
-------------------------------------------*/
.bg-light-small {
  padding: 50px 0;
  background-color: #f5f5f5;
}
.career-form .col-12,
.career-form .col-6 {
  padding: 0 30px;
  margin-bottom: 45px;
}
.career-form .col-12 {
  text-align: center;
}
.career-form label {
  color: #333;
  text-transform: capitalize;
}
.career-form .button-white {
  color: #fff;
  border-color: #fff;
  background-color: #d6b161;
}
.career-form .button-white:hover {
  color: #fff;
  border-color: #fff;
  background-color: #000;
}
/*------------------------------------------
our team member page
-------------------------------------------*/
.team-desc {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 60%;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  color: #777;
}
/*------------------------------------------
our clinets page
-------------------------------------------*/
.member-logos {
  padding: 0 30px;
}
.member-logos > .col-4 {
  padding: 10px;
}
#moving-item {
  padding: 100px 0;
  background-image: url("https://dummyimage.com/1920x1080/777/777");
}
#moving-item .feature-item-icon {
  font-size: 60px;
}
#moving-item .feature-item-desc {
  color: #fff;
}
#moving-item .thumbnail-info > h4,
#moving-item .thumbnail-info > span {
  color: #fff;
}
.be-our-clients {
  padding: 60px;
  background-color: #eee;
  text-align: center;
}
.be-our-clients > h3 {
  color: #d6b161;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 2;
  text-transform: uppercase;
}
.be-our-clients > p {
  color: #777;
  line-height: 2;
}
.be-our-clients .button-black {
  margin-top: 15px;
}
