@import "basic.less";

#about-banner {
  background-image: url("https://dummyimage.com/1920x1080/333/444");
}
#service-banner {
  background-image: url("https://dummyimage.com/1920x1080/eee/ddd");
}
#client-banner {
  background-image: url("https://dummyimage.com/1920x1080/777/555");
}
#feature {
  background-image: url("https://dummyimage.com/1920x1080/333/444");
  padding: 100px 0;
}

.banner-title {
  float: left;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 43px;
}
.banner-title-dark {
  &:extend(.banner-title);
  color: @dark;

}

.breadcrumbs {
  float: right;
  padding: 15px;
  font-size: 12px;
  background: rgba(0, 0, 0, .6);
  border-radius: 5px;

  li {
    float: left;
    text-transform: uppercase;
    color: #fff;

    &:after {
      content: "/";
      margin: 0 5px;
    }

    &:last-child {
      &:after {
        content: "";
        margin: 0;
      }
    }
  }

  .link {
    color: @gray;
    text-decoration: none;
  }

  &.bread-dark {
    background: transparent;

    li {
      color: @dark;
    }
  }
}

.post{
  .desc{
    line-height: 2;
  }
}

.progress-bar {
  width: 100%;
  background: #eee;
  margin-bottom: 50px;

  > div {
    display: inline-block;
  }

  .progress {
    padding-left: 12px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2;

    &.no-1 {
      width: 80%;
    }
  }

  .pin {
    position: relative;
    transform: translate(-50%,-120%);
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 3px 8px;
    border-radius: 15px;

    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: rgba(0, 0, 0, .6);
      border-width: 2px;
      margin-left: -2px;
    }
  }
}

/////////////////////// team members ///////////////////////
.member {
  // .post-title{
  //   margin-top: 1em;
  // }
  // .social-media {
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

}

.count {
  font-size: 36px;

  >div{
    margin-top: 20px;
    margin-bottom: -10px;
  }
  > span{
    font-size: 15px;
    text-transform: uppercase;
  }
}

.clients {
  padding: 100px 0;
}
