@import "basic.less";

.about {
  .feature {
    padding: 100px 0;
    background: url("../image/1920x1080.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    h3{
      font-size: 18px;
    }
    i {
      color: @branding-color;
    }
    p{
      color: #fff;
    }
  }
}
