@import "basic.less";
// -------------- reset css --------------
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: @dark;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

img {
  display: block; //預設 display: inline 底會有留空白
  width: 100%;
  height: auto;
}

hr {
  border-top: 1px solid #eee;
}

section {
  padding-bottom: 100px;
}

hr {
  border-top: 1px solid #eee;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: inherit;
}
// -------------- state css --------------

.is-dark {
  color: @dark;
}

.is-light {
  color: @light;
}

.is-gray {
  color: @gray;
}

.is-white {
  color: @white;
}

.is-branding-color {
  color: @branding-color;
}

.is-center {
  text-align: center;
}
// -------------- layout css --------------

.l-fl {
  float: left;
}

.l-fr {
  float: right;
}

.l-fx {
  display: flex;
}

.mb20 {
  margin-bottom: 20px;
}

.img-init {
  display: inline-block;
  width: initial;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1170px;

  &.full-width {
    width: 100%;
  }
}

.clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8 {
  float: left;
  padding: 0 30px;

  &.closer {
    padding: 0 10px;
  }

  &.bordered {
    margin-left: -1px;
    margin-bottom: -1px;
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
  }
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.666%;
}

.col-12 {
  width: 100%;
}
//--main區塊大小設定
.full-padding {
  padding-top: 100px;
}

.bg-img {
  padding: 150px 0;
  background-size: cover;
  background-position: 50% 50%;

  &.fixed {
    background-attachment: fixed;
  }
}

.bg-gray {
  background-color: @gray;
}

.bg-light {
  background-color: #f5f5f5;
}

.banner {
  padding: 200px 0;
}
//--區塊標題

.intro {
  margin-bottom: 100px;
  text-align: center;

  .desc {
    color: @gray;
    font-size: 13px;
    line-height: 2;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &.p0-30 {
    padding: 30px;

    .intro-title {
      font-size: 18px;
    }

    .intro-hr {
      background-color: @dark;
    }

    .desc {
      color: @gray;
      font-size: 13px;
      line-height: 2;
      letter-spacing: 1px;
      text-transform: capitalize;
    }
  }
}

.intro-title {
  font-size: 30px;
  margin-bottom: 12px;
  color: @dark;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;

  &.mb0 {
    margin-bottom: 0;
  }
}

.intro-hr {
  background-color: @branding-color;
  border: 0;
  height: 2px;
  margin: 0 auto 16px;
  width: 60px;
}
//--
//--內容標題文字

.post-name {
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

.post-title {
  &:extend(.post-name);
  margin-bottom: 2em;
}

.post-title2 {
  &:extend(.post-name);
  margin-bottom: 1em;
}

.desc {
  color: @gray;
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;
}

.desc2 {
  &:extend(.desc);
  font-size: 12px;
  line-height: 1.5em;
  padding-bottom: 0;
}

.price {
  &:extend(.desc);
  padding-bottom: 0;

  &.specil {
    color: @branding-color;
    font-size: 2.5em;
  }
}

.button {
  display: inline-block;
  margin-top: 15px;
  padding: 15px 20px;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  transition: all 0.2s;

  &.round {
    border-radius: 0.3em;
  }

  &.noborder {
    border: none;
  }
}

.button-white {
  &:extend(.button all);
  .colorSet(@dark, @black, @white);

  &:hover {
    .colorSet(@white, @black, @dark)
  }
}

.button-black {
  &:extend(.button all);
  .colorSet(@white, @white, @dark);

  &:hover {
    .colorSet(@white, @white, @branding-color);
  }
}
//
//--thumbnail

.thumbnail {
  position: relative;
}

.thumbnail-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  border: 20px solid rgba(0, 0, 0, .1);
  opacity: 0;
  transition: all 0.3s;

  &:hover {
    opacity: 1;

    .thumbnail-desc {
      top: 50px;
    }
  }
}

.thumbnail-desc {
  transition: top 0.3s;
  position: relative;
  top: -30px;
  padding: 0 15px;

  > h4 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: @dark;
    margin-bottom: 30px;
  }

  > p {
    font-size: 13px;
    line-height: 2;
    text-transform: capitalize;
    color: @gray;
  }
}

.thumbnail-link {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 30px;
  color: @dark;
}

.thumbnail-info {
  padding: 15px 0;
  text-align: center;

  &.left {
    text-align: left;
  }

  > h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
    color: @dark;
    line-height: 2;
  }

  > span {
    font-size: 12px;
    text-transform: uppercase;
    color: @gray;
  }
}
//--
//--social-media

.social-media {
  > li {
    display: inline-block;
  }

  &.inbox {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

.colorSet(@c:@dark, @bdc: @dark, @bkc:transparent) {
  color: @c;
  border-color: @bdc;
  background-color: @bkc;
}

.social-media-icon {
  @icon-size: 20px;
  @icon-color: @dark;
  display: inline-block;
  margin: 0 12px;
  width: @icon-size*2;
  height: @icon-size*2;
  line-height: @icon-size*2;
  border-radius: @icon-size;
  font-size: @icon-size;
  color: @icon-color;
  border: 1px solid @icon-color;
  text-align: center;
  text-decoration: none;

  &.no-border {
    border: none;
  }

  &:hover {
    transition: 0.3s all;
    .colorSet(@light, @dark, @dark);
  }

  &.light {
    .colorSet(@gray, @gray,transparent);

    &:hover {
      .colorSet(@lightgray, @lightgray, #222);
    }
  }

  &.white {
    .colorSet(@white, @white,transparent);

    &:hover {
      .colorSet(#222, @white, @white);
    }
  }

  &.small {
    margin: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;

    &:hover {
      .colorSet(@branding-color,none,transparent);
    }
  }
}
//--
//--feature-item

.feature-item {
  text-align: center;

  &.normal {
    .feature-item-icon {
      color: @dark;
    }

    .feature-item-title {
      color: @dark;
    }
  }

  &.dark {
    &:extend(.feature-item.normal all);
    padding: 50px;

    &:hover {
      background-color: @dark;
      transition: all 0.2S;

      .feature-item-icon {
        color: @branding-color;
      }

      .feature-item-title {
        color: @white;
      }
    }
  }

  &.icon-left {
    position: relative;
    padding-left: 80px;
    margin-bottom: 80px;
    text-align: left;

    .feature-item-icon {
      position: absolute;
      top: 0;
      left: 0;
      color: @dark;
    }

    .feature-item-title {
      color: @dark;
    }
  }

  &.career {
    margin-bottom: 50px;
    padding: 50px;
    border: 1px solid #eee;

    .feature-item-icon {
      color: @dark;
    }

    .feature-item-title {
      color: @dark;
    }
  }
}

.feature-item-icon {
  padding-bottom: 30px;
  font-size: 40px;
  color: @branding-color;
}

.feature-item-title {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @white;
}

.feature-item-desc {
  font-size: 15px;
  line-height: 1.4;
  color: @gray;
}
//--
/////////////////////// header ///////////////////////

#logo {
  float: left;
}

nav {
  float: right;
  text-transform: uppercase;

  li {
    float: left;
    line-height: 100px;
  }

  a {
    color: @dark;
    padding: 42px 12px;
    text-decoration: none;

    &:hover {
      background-color: @branding-color;
    }
  }
}

.boundary {
  &:after {
    content: "|";
    padding: 0 12px;
  }
}
/////////////////////// main ///////////////////////
/////////////////////// category ///////////////////////

.category {
  margin-bottom: 20px;
  position: relative;
}

.category-title {
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  right: 10%;
  text-align: right;
  top: 35%;
}
/////////////////////// recent product///////////////////////

.product {
  padding: 15px;
}
/////////////////////// event ///////////////////////

#event {
  background-image: url("https://dummyimage.com/1920x1080/111/333");

  .button {
    &:hover {
      background-color: @branding-color;
    }
  }
}

.event-title {
  color: @white;
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
}

.event-subtitle {
  color: @white;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
}
/////////////////////// featured //////////////////////

.featured-info {
  padding-top: 40px;
  text-align: center;
}
/////////////////////// outlets ///////////////////////

.outlet-info {
  padding: 15px 30px;

  > .post-name {
    margin-bottom: 25px;
  }
}

.info {
  color: @gray;
  text-decoration: none;
  line-height: 2rem;
  text-transform: capitalize;
}

.m30-0 {
  margin: 30px 0;
}

.map {
  color: @branding-color;
  text-transform: uppercase;
}
/////////////////////// footer ////////////////////////
//--footer區塊設定

.footer-light {
  padding-top: 100px;
  position: relative;
  background: #eee;
}

.footer-dark {
  padding-top: 80px;
  background: #222;
}

.footer-bottom {
  background: #171717;
  padding: 35px;
  color: @gray;
}

.footer-logo {
  padding: 20px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 5px solid #eee;
}

.copyright-dark {
  color: @dark;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
}

.copyright-light {
  color: @darkgray;
  line-height: 15px*2; //與social-media對齊
  text-transform: capitalize;

  a {
    color: @light;
  }
}

.comment-list {
  > li {
    border-bottom: 1px solid @dark;
  }
}

.comment-list-link {
  display: block;
  line-height: 3rem;
  color: @lightgray;
  text-transform: capitalize;
  text-decoration: none;

  &:before {
    content: ">";
    margin-right: 10px;
  }
}

.pic-list {
  > li {
    float: left;
  }
}

.pic-list-link {
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}

#go-top {
  background: rgba(0, 0, 0, 0.6);
  bottom: 35px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
@import "about.less";
@import "service.less";
@import "contact.less";
