@import "about.less";
@import "basic.less";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block; //預設 display: inline 底會有留空白
}

p {
  color: @gray-text;
  line-height: 30px;
}
/////////////////////// custom class ///////////////////////

.container {
  display: block;
  margin: 0 auto;
  width: 1170px;

  &.full-width {
    width: 100%;
  }
}

.button {
  background: #fff;
  color: #333;
  display: inline-block;
  font-size: 14px;
  margin-top: 30px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.button.bordered {
  border: 1px solid #000000;
}
/*自動清除 float 放在 容器 內*/
.clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.row {
  margin: 0 -10px;
}

.col-12,
.col-4,
.col-6 {
  float: left;
  padding: 0 30px;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}
/////////////////////// header ///////////////////////

#logo {
  float: left;
}

nav {
  float: right;
  text-transform: uppercase;

  li {
    float: left;
    line-height: 100px;
  }

  a {
    color: #333;
    padding: 0 12px;
    text-decoration: none;
  }
}

.boundary {
  &:after {
    content: "|";
    padding: 0 12px;
  }
}

.progress-bar {
  width: 100%;
  background: #eee;
  margin-bottom: 50px;

  > div {
    display: inline-block;
  }

  .progress {
    padding-left: 12px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2;

    &.no-1 {
      width: 80%;
    }
  }

  .pin {
    position: relative;
    transform: translate(-50%,-120%);
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 3px 8px;
    border-radius: 15px;

    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: rgba(0, 0, 0, .6);
      border-width: 2px;
      margin-left: -2px;
    }
  }
}
/////////////////////// content ///////////////////////

main {
  > div {
    padding-top: 100px;

    &:first-child {
      padding-top: 0;
    }
  }

  > hr {
    border-top: 1px solid #eee;
    margin: 0;
  }

  h3.title {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.intro {
  margin-bottom: 100px;
  text-align: center;

  h2 {
    color: #333;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  hr {
    background-color: #606060;
    border: 0;
    height: 2px;
    margin: 0 auto;
    width: 60px;
  }

  &.big {}
}

.slider {
  img {
    height: auto;
    width: 100%;
  }
}

.category {
  padding: 0 10px;
  margin-bottom: 20px;
  position: relative;

  img {
    height: auto;
    width: 100%;
  }

  .title {
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    right: 10%;
    text-align: right;
    text-transform: uppercase;
    top: 35%;

    &.dark {
      color: #333;
    }

    &.light {
      color: #fff;
    }
  }
}

.recent-product {
  padding-bottom: 100px;
}

.justify {
  margin: 0 20px;
}

.product {
  padding: 0 10px;

  .info {
    padding: 15px 0;
    text-align: center;
  }

  .title {
    margin: 0;

    a {
      color: #333;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .price {
    color: @gray-text;
    font-size: 12px;
    line-height: 30px;
    list-style-position: 1px;
  }
}

.thumbnail {
  position: relative;

  img {
    height: auto;
    width: 100%;
  }

  .cover {
    background-color: rgba(255, 255, 255, .9);
    border: 20px solid rgba(0, 0, 0, .1);
    display: flex;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    width: 100%;

    &:hover {
      opacity: 1;
    }

    a {
      color: #333;
      margin: auto;
      text-decoration: none;
    }
  }
}

.event {
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background: url("http://lorempixel.com/1920/1080/");
  padding-bottom: 150px;

  .title {
    color: #fff;
    font-size: 72px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;
  }

  .subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;
  }
}

.featured {
  padding-bottom: 100px;

  img {
    height: auto;
    width: 100%;
  }

  .info {
    margin-top: 70px;
    text-align: center;

    .title {
      color: @branding-color;
      text-transform: uppercase;
    }

    .name {
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;
    }

    .price {
      color: @branding-color;
      font-size: 26px;
      font-weight: 100;
    }

    p {
      margin: 0;
      padding-top: 30px;
    }
  }
}

.outlets {
  padding-bottom: 100px;

  h3 {
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
  }
}

.outlet {
  .info {
    color: @gray-text;
    line-height: 30px;

    a {
      color: @gray-text;
      text-decoration: none;
    }
  }

  .map {
    a {
      color: @branding-color;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
/////////////////////// footer ///////////////////////

footer {
  background: #eee;
  padding: 100px 0;
  position: relative;

  .logo {
    background: #fff;
    border: 5px solid #eee;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
  }

  .copyright {
    color: #333;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;

    .subtitle {
      color: #444444;
      font-size: 12px;
    }
  }

  .social-media {
    float: right;

    li {
      float: left;
    }

    a {
      border-radius: 20px;
      border: 1px solid #333;
      color: #333;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin: 0 20px;
      text-align: center;
      text-decoration: none;
      width: 40px;
    }
  }
}

#go-top {
  background: rgba(0, 0, 0, 0.6);
  bottom: 35px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
