@import "basic.less";
@import "about.less";

.button {
  background: #fff;
  color: #333;
  display: inline-block;
  font-size: 14px;
  margin-top: 30px;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.button.bordered {
  border: 1px solid #000;
}

.breadcrumbs {
  float: right;
  padding: 15px;
  font-size: 12px;
  background: rgba(0, 0, 0, .6);
  border-radius: 5px;

  li {
    float: left;
    color: #fff;
    text-transform: uppercase;

    &:after {
      content: "/";
      margin: 0 5px;
    }

    &:last-child {
      &:after {
        content: "";
        margin: 0;
      }
    }
  }

  a {
    color: @gray-text;
    text-decoration: none;
  }
}

.social-media {
  @size: 1rem;
  float: right;

  li {
    float: left;
  }

  a {
    display: inline-block;
    width: @size*2;
    height: @size*2;
    line-height: @size*2;
    border: 1px solid #333;
    border-radius: @size;
    color: #333;
    font-size: @size;
    margin: 0 20px;
    text-align: center;
    text-decoration: none;
  }
}
/////////////////////// header ///////////////////////

#logo {
  float: left;
}

nav {
  float: right;
  text-transform: uppercase;

  li {
    float: left;
    line-height: 100px;
  }

  a {
    color: #333;
    padding: 0 12px;
    text-decoration: none;
  }
}

.boundary {
  &:after {
    content: "|";
    padding: 0 12px;
  }
}
/////////////////////// main ///////////////////////

main {
  > section {
    padding-top: 100px;

    &.full-padding {
      padding: 100px 0;
    }

    &:first-child {
      padding-top: 0;
    }

    &.header {
      padding: 200px 0;
    }
  }

  > hr {
    border-top: 1px solid #eee;
    margin: 0;
  }

  h3 {
    margin-top: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
  }
}

.intro {
  margin-bottom: 100px;
  text-align: center;

  h2 {
    color: #333;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  hr {
    background-color: @branding-color;
    border: 0;
    height: 2px;
    margin: 0 auto;
    width: 60px;
  }

  &.big {
    h2 {
      padding: 0;
    }

    p {
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.slider {
  img {
    height: auto;
    width: 100%;
  }
}
/////////////////////// category ///////////////////////

.category {
  padding: 0 10px;
  margin-bottom: 20px;
  position: relative;

  img {
    height: auto;
    width: 100%;
  }

  .title {
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    right: 10%;
    text-align: right;
    text-transform: uppercase;
    top: 35%;

    &.dark {
      color: #333;
    }

    &.light {
      color: #fff;
    }
  }
}

.recent-product {
  padding-bottom: 100px;
}

.product {
  padding: 0 10px;

  .info {
    padding: 15px 0;
    text-align: center;
  }

  .title {
    margin: 0;

    a {
      color: #333;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .price {
    color: @gray-text;
    font-size: 12px;
    line-height: 30px;
    list-style-position: 1px;
  }
}

.thumbnail {
  position: relative;

  img {
    height: auto;
    width: 100%;
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    border: 20px solid rgba(0, 0, 0, .1);
    opacity: 0;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }

    > a {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-decoration: none;
      font-size: 36px;
      color: #333;
    }
  }
}
/////////////////////// event ///////////////////////

.event {
  background: url("http://lorempixel.com/1920/1080/");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  padding-bottom: 150px;

  .title {
    color: #fff;
    font-size: 72px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;
  }

  .subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;
  }
}

.featured {
  padding-bottom: 100px;

  img {
    height: auto;
    width: 100%;
  }

  .info {
    margin-top: 70px;
    text-align: center;

    .title {
      color: @branding-color;
      text-transform: uppercase;
    }

    .name {
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;
    }

    .price {
      color: @branding-color;
      font-size: 26px;
      font-weight: 100;
    }

    p {
      margin: 0;
      padding-top: 30px;
    }
  }
}

.outlets {
  padding-bottom: 100px;

  h3 {
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
  }
}

.outlet {
  .info {
    color: @gray-text;
    line-height: 30px;

    a {
      color: @gray-text;
      text-decoration: none;
    }
  }

  .map {
    a {
      color: @branding-color;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
/////////////////////// footer ///////////////////////

footer {
  background: #eee;
  padding: 100px 0;
  position: relative;

  .logo {
    background: #fff;
    border: 5px solid #eee;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
  }

  .copyright {
    color: #333;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

footer.dark {
  padding: 0;
  background: #222;
}

.footer-info {
  padding: 80px 0;

  h4 {
    margin: 0 0 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
  }
}

.comment-list {
  li {
    border-bottom: 1px solid #333;

    a {
      display: block;
      line-height: 45px;
      color: #a2a2a2;
      text-transform: capitalize;
      text-decoration: none;

      &:before {
        content: ">";
        margin-right: 10px;
      }
    }
  }
}

.pic-list {
  li {
    float: left;
  }

  a {
    display: block;
    margin: 0 10px 10px 0;
  }
}

.bottom {
  background: #171717;
  padding: 35px;
  color: #777;

  .copyright {
    text-transform: capitalize;
    line-height: 32px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .social-media {
    a {
      margin: 0 0 0 15px;
      color: #777;
      border-color: #777;
    }
  }
}

#go-top {
  background: rgba(0, 0, 0, 0.6);
  bottom: 35px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
